<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="/common.css" >
    <meta charset="UTF-8">
    <title>Hello to Book</title>
</head>
<body th:with="menu='author-edit'">
<div th:replace="_main::body"></div>
<div th:remove="All">
    <div th:fragment="allcontent">
        <h1>Редактировать Автора</h1>
        <form action="#"
              th:action="@{/authors/save}"
              th:object="${authorDto}"
              method="post">
            <input type="hidden" th:field="*{id}" id="id">
            <table class="edit-form-table">
                <tbody>
                <tr>
                    <td>
                        <label for="fullName">Фамилия Имя Отчество</label>
                    </td>
                    <td>
                        <input type="text" th:field="*{fullName}" id="fullName" placeholder="Full Name">
                    </td>
                    <td>
                        <span class="error" th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}"></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="birthday">Год рождения</label>
                    </td>
                    <td>
                        <input type="text" th:field="*{birthday}" id="birthday" placeholder="yyyy" maxlength="4" pattern="^[1-9]\d*$">
                    </td>
                    <td>
                        <span class="error" th:if="${#fields.hasErrors('birthday')}" th:errors="*{birthday}"></span>
                    </td>
                </tr>
                </tbody>
            </table>

            <input type="submit" value="Сохранить изменения">
        </form>
    </div>
</div>
</body>
</html>