<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="/common.css" >
    <meta charset="UTF-8">
    <title>Hello to Book</title>
</head>
<body th:with="menu='book-edit'">
<div th:replace="_main::body"></div>
<div th:remove="All">
    <div th:fragment="allcontent">
        <h1>Редактировать Книгу</h1>
        <form action="#"
              th:action="@{/books/save}"
              th:object="${bookDto}"
              method="post">
            <input type="hidden" th:field="*{id}" id="id">
            <table class="edit-form-table">
                <tbody>
                <tr>
                    <td>
                        <label for="title">Название</label>
                    </td>
                    <td>
                        <input type="text" th:field="*{title}" id="title" placeholder="Title">
                    </td>
                    <td>
                        <span class="error" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="author">Автор</label>
                    </td>
                    <td>
                        <select th:field="*{authorId}" id="author">
                            <option th:if="${bookDto.id == 0}" selected="true" value="">---</option>
                            <option th:each="a : ${authors}"
                                    th:value="${a.id}"
                                    th:utext="${a.fullName}"></option>
                        </select>
                    </td>
                    <td>
                        <span class="error" th:if="${#fields.hasErrors('authorId')}" th:errors="*{authorId}"></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="genre">Жанр</label>
                    </td>
                    <td>
                        <select th:field="*{genreId}" id="genre">
                            <option th:if="${bookDto.id == 0}" selected="true" value="">---</option>
                            <option th:each="g : ${genres}"
                                    th:value="${g.id}"
                                    th:utext="${g.name}"></option>
                        </select>
                    </td>
                    <td>
                        <span class="error" th:if="${#fields.hasErrors('genreId')}" th:errors="*{genreId}"></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="publisher">Издатель</label>
                    </td>
                    <td>
                        <select th:field="*{publisherId}" id="publisher">
                            <option th:if="${bookDto.id == 0}" selected="true" value="">---</option>
                            <option th:each="p : ${publishers}"
                                    th:value="${p.id}"
                                    th:utext="${p.name}"></option>
                        </select>
                    </td>
                    <td>
                        <span class="error" th:if="${#fields.hasErrors('publisherId')}" th:errors="*{publisherId}"></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="publishYear">Год издания</label>
                    </td>
                    <td>
                        <input type="text" th:field="*{publishYear}" id="publishYear" placeholder="yyyy" maxlength="4" pattern="^[1-9]\d*$">
                    </td>
                    <td>
                        <span class="error" th:if="${#fields.hasErrors('publishYear')}" th:errors="*{publishYear}"></span>
                    </td>
                </tr>
                </tbody>
            </table>

            <input type="submit" value="Сохранить изменения">
        </form>
    </div>
</div>
</body>
</html>