<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="../static/common.css" th:href="common.css">
    <meta charset="UTF-8">
    <title>Hello to Book</title>
</head>
<body th:with="menu='genres'">
<div th:replace="_main::body"></div>
<div th:remove="All">
    <div th:fragment="allcontent">
        <h1>Жанры</h1>
        <table class="table-list">
            <thead>
            <tr>
                <th>id</th>
                <th>Жанр</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="genre : ${genres}">
                <td th:text="${genre.id}">1</td>
                <td th:text="${genre.name}">Жанр</td>
                <td sec:authorize="hasRole('EDITOR')"><a th:href="@{/genres/edit(id=${genre.id})}">Edit</a></td>
                <td sec:authorize="hasRole('EDITOR')"><a th:href="@{/genres/delete(id=${genre.id})}">Delete</a></td>
            </tr>
            </tbody>
        </table>
        <p sec:authorize="hasRole('EDITOR')"><a href="/genres/new">Добавить новую запись</a></p>
    </div>
</div>
</body>
</html>