<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="../static/common.css" th:href="common.css">
    <meta charset="UTF-8">
    <title>Hello to Book</title>
</head>
<body th:with="menu='index'">
<div th:replace="_main::body"></div>
<div th:remove="All">
    <div th:fragment="allcontent">
        <h1>Библиотека</h1>
        <p>Сущности - Книги, Авторы, Жанры, Издатели, Пользователи.</p>
        <p>Роли:
        <ul>
            <li>ADMIN - может добавлять, удалять, редактировать пользователей</li>
            <li>EDITOR - может добавлять, удалять, редактировать книги, авторы, жанры, издателей</li>
            <li>READER - может просматривать книги, авторы, жанры, издателей</li>
        </ul>
        </p>
        <p>Тестовые учетки (логин - пароль):
        <ul>
            <li> admin - admin</li>
            <li> editor - editor</li>
            <li> Ilya - 1234</li>
        </ul>
        </p>

    </div>
</div>
</body>
</html>