<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="/common.css" >
    <meta charset="UTF-8">
    <title>Hello to Book</title>
</head>
<body th:with="menu='publisher-edit'">
<div th:replace="_main::body"></div>
<div th:remove="All">
    <div th:fragment="allcontent">
        <h1>Редактировать Издателя</h1>
        <form action="#"
              th:action="@{/publishers/save}"
              th:object="${publisherDto}"
              method="post">
            <input type="hidden" th:field="*{id}" id="id">
            <table class="edit-form-table">
                <tbody>
                <tr>
                    <td>
                        <label for="name">Название</label>
                    </td>
                    <td>
                        <input type="text" th:field="*{name}" id="name" placeholder="Name">
                    </td>
                    <td>
                        <span class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
                    </td>
                </tr>
                </tbody>
            </table>

            <input type="submit" value="Сохранить изменения">
        </form>
    </div>
</div>
</body>
</html>