<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="../static/common.css" th:href="common.css">
    <meta charset="UTF-8">
    <title>Hello to Book</title>
</head>
<body th:with="menu='users-list'">
<div th:replace="_user::body"></div>
<div th:remove="All">
    <div th:fragment="allcontent">
        <div th:switch="${users}">
            <h2 th:case="null">No users yet!</h2>
            <div th:case="*">
                <h1>Пользователи</h1>
                <table class="table-list">
                    <tbody>
                    <tr th:each="user : ${users}">
                        <td th:text="${user.username}"></td>
                        <td th:text="${user.enabled}"></td>
                        <td th:text="${user.role}"></td>
                        <td><a th:href="@{/users/edit(id=${user.id})}">Edit</a></td>
                        <td><a th:href="@{/users/delete(id=${user.id})}">Delete</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <p><a href="/users/new">Добавить новую запись</a></p>
        </div>
    </div>
</div>
</body>
</html>

